body {
  position: relative;
  background-color: white;
  color: black;
  height: 100vh;
  font-family: monospace;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  user-select: none;
}

body,
body * {
  font-family: monospace;
}

p {
  margin: 0;
  padding: 0;
}
